
@mixin headerTheme($background, $color) {
    background-color: $background;
    color: $color;
}


.header-wrapper {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 60px;

    &.light {
        @include headerTheme($white, $black-light);
    }
    
    &.dark {
        @include headerTheme($black-light, $white);
    }
}

.brand {
    flex-basis: 15%;
}

.tabs {
    display: flex;
    justify-content: end;
    flex-basis: 85%;
}

.tab {
    padding: 0 5px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}